#### Compare the two datasets: processed by Googlesheets and Python

In [1]:
import pandas as pd
import numpy as np

In [2]:
file1 = "dataset_ver3.csv"
file2 = "dataset_ver4.csv"
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

In [3]:
df1['surroundings'] = df1['surroundings'].str.replace('-', 'ー')  # 半角ハイフン
df1['surroundings'] = df1['surroundings'].str.replace('−', 'ー')  # 全角ダッシュ
df1['surroundings'] = df1['surroundings'].str.replace('－', 'ー')  # 全角ハイフン
df1['surroundings'] = df1['surroundings'].str.replace('—', 'ー')  # emダッシュ
df1['surroundings'] = df1['surroundings'].str.replace('―', 'ー')  # enダッシュ

In [4]:
df1['address'] = df1['address'].str.replace('-', 'ー')  # 半角ハイフン
df1['address'] = df1['address'].str.replace('−', 'ー')  # 全角ダッシュ
df1['address'] = df1['address'].str.replace('－', 'ー')  # 全角ハイフン
df1['address'] = df1['address'].str.replace('—', 'ー')  # emダッシュ
df1['address'] = df1['address'].str.replace('―', 'ー')  # enダッシュ

In [5]:
def detect_diff_cells(df1, df2):
    # 2つのデータフレームの形状が同じなら、各セルのチェックに進む
    if df1.shape != df2.shape:
        print("ファイルの形状が異なります。")
        return 
    
    # diff_maskというデータフレームを定義。比較するデータセットの各セルを比べ、値が異なる時にTrueが入力、同じ時にFalseを入力。
    diff_mask = df1 != df2
    
    # nan_maskというデータフレームを定義。どちらもNaNのセルにTrueが入る
    nan_mask = pd.isna(df1) & pd.isna(df2)
    
    # diff_maskでTrue（値が異なる）かつ、nan_maskのTrueとFalseを反対にしたデータフレームでTrue(どちらもNaNではない)ものを、diff_maskとする
    diff_mask = diff_mask & ~nan_mask
    
    # データフレームのスタイルを変更。デーブルでなく行、列、値を羅列する
    stacked_diff_mask = diff_mask.stack()
    
    # True（どちらもNaNではなく、値が異なっている）だけを抽出
    filtered_diff = stacked_diff_mask[stacked_diff_mask]
    
    # 異なる値を持つセルの行と列をリスト化
    diff_indices = filtered_diff.index.tolist()
    
    diff_df = []    
    for idx in diff_indices:
        # 行と列を取得。
        row, col = idx
        
        # 行と列に該当する値をそれぞれのデータセットから取得。
        value1 = df1.loc[row, col]
        value2 = df2.loc[row, col]
        
        # 両方ともNaNは無視。
        if pd.isna(value1) and pd.isna(value2):
            continue       
        
        # 異なるセルの情報をリストに追加。
        diff_df.append({'行': row, '列': col, 'ファイル1の値': value1, 'ファイル2の値': value2, '差': round((value1-value2), 7)})

    # データフレームに収納。
    diff_df = pd.DataFrame(diff_df)
    diff_df.to_csv("checklist.csv", index=False)
    return diff_df
        
        
        # 異なるセルの情報を出力します。
        # print(f'{num}番目に異なるセルが見つかりました: 行 {row}, 列 {col}, ファイル1の値: {value1}, ファイル2の値: {value2}')
detect_diff_cells(df1, df2)

          行          列     ファイル1の値     ファイル2の値         差
0         0  longitude  141.314045  141.314044  0.000001
1         7  longitude  141.319415  141.319414  0.000001
2        10   latitude   43.027775   43.027774  0.000001
3        14   latitude   43.049670   43.049669  0.000001
4        46  longitude  141.355055  141.355054  0.000001
...     ...        ...         ...         ...       ...
4393  25969  longitude  127.747435  127.747434  0.000001
4394  25972   latitude   26.219755   26.219754  0.000001
4395  25973  longitude  127.752250  127.752249  0.000001
4396  25987  longitude  127.737970  127.737969  0.000001
4397  25988  longitude  127.713580  127.713579  0.000001

[4398 rows x 5 columns]